<!--<app-relgraph></app-relgraph>-->
<!--<app-fulldata></app-fulldata>-->

<!--<div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>-->

<!--<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Survaider App</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a routerLink="/sexgraph" class="mdl-navigation__link">Sex Graph</a>
	  	<a routerLink="/relgraph" class="mdl-navigation__link">Relationship Graph</a>
	  	<a routerLink="/fulldata" class="mdl-navigation__link">Full Data</a>
      </nav>
    </div>
  </header>
</div>-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
		    <a routerLink="/sexgraph" class="mdl-navigation__link" >Sex Graph</a>
	  	  <a routerLink="/relgraph" class="mdl-navigation__link">Relationship Graph</a>
	  	  <a routerLink="/fulldata" class="mdl-navigation__link">Full Data</a>
      </nav>
    </div>
  </header> 
</div>


<router-outlet></router-outlet>